<div class="progress-wrapper">
	<h3>Aguarde enquanto processamos o seu site</h3>
	<div class="progress">
	  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
	    0%
	  </div>
	</div>
</div>

<div class="show-wrapper">

	<div class="top-wrapper">
		<h3>Análise:</h3>
		<h2><%= @url %></h2>
	</div>
	
	<div class="table-wrapper">
		<table class="table">
			<tr>
				<th>TAG</th>
				<th>Conteúdo</th>
				<th>Dica</th>
				<th>Resultado</th>
			</tr>
			<% @results.each do |result| %>
				<% if result.score == "Reprovado" %>
					<tr class="danger">
				<% else %>
					<tr>
				<% end %>
					<td><%= result.tag %></td>
					<td><%= result.content %></td>
					<td><b><%= result.hint %></b></td>
					<% if result.score == "Reprovado" %>
						<td style="color:red"><%= result.score %></td>
					<% else %>
						<% if result.score == "Aprovado" %>
							<td style="color:green"><%= result.score %></td>
						<% else %>
							<td style="color:#f0ad4e"><%= result.score %></td>
						<% end %>
					<% end %>
				</tr>
			<% end %>
		</table>
	</div>

	<h2>Pontuação final: <%= @sum %></h2>
</div>

<script type="text/javascript">

	var aux = 0;
	$('.show-wrapper').hide();
	
    var progress = setInterval(function() {
    	console.log("got to interval", aux)
	    var $bar = $('.progress-bar');

	    if (aux >= 100) {
	        clearInterval(progress);
	        $('.progress-wrapper').hide();
	        $('.show-wrapper').show();
	    } else {
	    	$bar.attr("aria-valuenow", aux)
	        $bar.width(aux+ "%");
	        $bar.text(aux + "%");
	        var random = Math.floor((Math.random() * 10) + 1);
	        aux = aux + random;
	    }
	}, 300);

	
</script>